# Environments
venv/
.venv/
env/
ENV/
ml-service/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
.pytest_cache/

# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
